body {
  overflow-y: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('Images/edgar-chaparro-6ccJQ5qPFvY-unsplash.jpg') ;
  background-size: auto ;  /* Keeps the original image size */
  background-repeat: no-repeat ;
  background-attachment: fixed;
  background-size: cover; /* Full width, natural height */
  background-position: top center ;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
  line-height: 1;
}

.navbar-nav .nav-item {
  line-height: 1;
  text-allign: end !important;
  padding: 0 0.6em;
  margin-right: 10px;
}

.navbar {
  color: black !important;
  background: white !important;  /* Stronger override */
  border: none !important;  /* Removes unwanted borders */
}
header a{
  color:black !important;
}

main {
  flex: 1 ;
  min-height: calc(100vh - 300px);
  max-width: 50%;
  justify-content: space-around;
  margin: 150px auto 80px auto;
  padding: 0px 0px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
}


.navbar-nav {
  margin-right: 10px !important; 
}

main button:hover{
  text-decoration: underline;
}


footer {
  color: black !important;
  background-color: white 
}

footer a {
  color: black !important;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}





