body {
  overflow-y: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../../Images/meals.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover; /* Makes the image scale properly */
  padding-bottom: 60px;
}

  .recipe {
    width: auto; /* Let it grow based on content */
    max-width: 80%;
    min-width: 80%; /* Optional: Limit the maximum width to prevent it from growing too wide */
    margin: 10px auto; /* Adds space between recipe elements */
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 10px;  
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 0 4px 8px rgba(3, 9, 9, 0.1);
  }

  .btn.btn-primary.like:hover{
    background-color: palevioletred !important;
  }

  .search-bar {
    max-width: 90%; /* Allows flexibility on small screens */
    width: 60%; /* Ensures a good default size */
    margin: 50px auto; /* Centers the content */
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adds a soft shadow */
}
main {
  display: flex;
  flex-direction: column;
  background: transparent !important;
  width: 100% !important; /* Adjust width to 90% of the viewport */
  max-width: 1200px !important; /* Set to transparent to inherit body background */
  gap: 20px; /* Adds spacing between child elements */
}
.search-bar, .recipe {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}


/* Media query for smartphones */

  
  