.body {
  overflow-y: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("../../Images/meals.jpg");
  background-size: auto ;  /* Keeps the original image size */
  background-repeat: no-repeat ;
  background-attachment: fixed;
  background-size: cover; /* Full width, natural height */
  background-position: top center ;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
  line-height: 1;
}

.navbar-nav .nav-item {
  line-height: 1;
  padding: 0 0.6em;
  margin-right: 10px;
}

.navbar {
  color: black !important;
  background: white !important;  /* Stronger override */
  border: none !important;  /* Removes unwanted borders */
}
header a{
  color:black !important;
}




.navbar-nav {
  margin-right: 10px !important; 
}

main button:hover{
  text-decoration: underline;
}


footer {
  color: black !important;
  background-color: white 
}

footer a {
  color: black !important;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}





